<html>
<head>
<title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">
</head>
<style type="text/css">
	body{
		background-image: url({{url_for("static", filename="images/login.jpg")}});
	}
</style>
<body>
	
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{{url_for('register')}}" method="post">
			<h1>Create Account</h1>
			 <input size=50 type="text" name="name" placeholder="Name" required >
			<select name="user-type">
				<option value="" disabled selected style="font-family: 'Montserrat', sans-serif;">Select User-type</option>
  				<option value="1">Teacher</option>
      			<option value="2">Student</option>
			</select>
			 <input size=50 type="text" name="username" placeholder="Username" required>
			 <input size=50 type="Password" name="password" placeholder="Password" required>
			 <input size=50 type="tel" name="contact" placeholder="Contact" required>
			 <input size=50 type="Email" name="email" placeholder="Email" required>
			<input class="ghost" type="submit" name="submit" value="Sign up" style="background-color: #5783E9; border-radius: 10px; cursor: pointer;"> </input>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="{{url_for('login')}}" method="post">
			<h1>Sign in</h1>
			<input size=50 name="username" type="text" placeholder="Username" />
			<input name="password" type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<input class="ghost" type="submit" name="submit" value="Sign in" style="background-color: #5783E9; border-radius:10px; cursor: pointer;"> </input>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
		
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>

</div>


<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');
signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>
</body>
</html>
